<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fondo</key>
			<dict>
				<key>frame</key>
				<string>{{0,4},{320,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,480}}</string>
				<key>sourceSize</key>
				<string>{320,480}</string>
			</dict>
			<key>respawn0</key>
			<dict>
				<key>frame</key>
				<string>{{322,434},{63,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,50}}</string>
				<key>sourceSize</key>
				<string>{63,50}</string>
			</dict>
			<key>respawn1</key>
			<dict>
				<key>frame</key>
				<string>{{387,434},{63,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,50}}</string>
				<key>sourceSize</key>
				<string>{63,50}</string>
			</dict>
			<key>disparo_enemigo</key>
			<dict>
				<key>frame</key>
				<string>{{452,458},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,26}}</string>
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>
			<key>disparo_nave</key>
			<dict>
				<key>frame</key>
				<string>{{452,436},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>health_container_indicartor</key>
			<dict>
				<key>frame</key>
				<string>{{452,414},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>
			<key>player0</key>
			<dict>
				<key>frame</key>
				<string>{{322,369},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player1</key>
			<dict>
				<key>frame</key>
				<string>{{374,369},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player3</key>
			<dict>
				<key>frame</key>
				<string>{{374,369},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player2</key>
			<dict>
				<key>frame</key>
				<string>{{426,349},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player_explosion0</key>
			<dict>
				<key>frame</key>
				<string>{{322,304},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player_explosion1</key>
			<dict>
				<key>frame</key>
				<string>{{374,304},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player_explosion2</key>
			<dict>
				<key>frame</key>
				<string>{{426,284},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player_explosion3</key>
			<dict>
				<key>frame</key>
				<string>{{322,239},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>enemy0</key>
			<dict>
				<key>frame</key>
				<string>{{374,252},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy1</key>
			<dict>
				<key>frame</key>
				<string>{{426,232},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy3</key>
			<dict>
				<key>frame</key>
				<string>{{426,232},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy2</key>
			<dict>
				<key>frame</key>
				<string>{{374,200},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion0</key>
			<dict>
				<key>frame</key>
				<string>{{322,187},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion1</key>
			<dict>
				<key>frame</key>
				<string>{{426,180},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion2</key>
			<dict>
				<key>frame</key>
				<string>{{374,148},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion3</key>
			<dict>
				<key>frame</key>
				<string>{{322,135},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion4</key>
			<dict>
				<key>frame</key>
				<string>{{426,128},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion5</key>
			<dict>
				<key>frame</key>
				<string>{{374,96},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>pause0</key>
			<dict>
				<key>frame</key>
				<string>{{322,85},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>pause1</key>
			<dict>
				<key>frame</key>
				<string>{{426,78},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>play0</key>
			<dict>
				<key>frame</key>
				<string>{{372,46},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>play1</key>
			<dict>
				<key>frame</key>
				<string>{{322,35},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>back0</key>
			<dict>
				<key>frame</key>
				<string>{{422,39},{49,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,37}}</string>
				<key>sourceSize</key>
				<string>{49,37}</string>
			</dict>
			<key>health_bar</key>
			<dict>
				<key>frame</key>
				<string>{{372,24},{41,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,20}}</string>
				<key>sourceSize</key>
				<string>{41,20}</string>
			</dict>
			<key>health_container</key>
			<dict>
				<key>frame</key>
				<string>{{322,13},{41,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,20}}</string>
				<key>sourceSize</key>
				<string>{41,20}</string>
			</dict>
			<key>back1</key>
			<dict>
				<key>frame</key>
				<string>{{415,0},{49,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,37}}</string>
				<key>sourceSize</key>
				<string>{49,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Hunter.png</string>
			<key>textureFileName</key>
			<string>Hunter.png</string>
		</dict>
	</dict>
</plist>
