<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fondo</key>
			<dict>
				<key>frame</key>
				<string>{{0,28},{320,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,480}}</string>
				<key>sourceSize</key>
				<string>{320,480}</string>
			</dict>
			<key>player0</key>
			<dict>
				<key>frame</key>
				<string>{{322,445},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player1</key>
			<dict>
				<key>frame</key>
				<string>{{322,380},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player3</key>
			<dict>
				<key>frame</key>
				<string>{{322,380},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player2</key>
			<dict>
				<key>frame</key>
				<string>{{374,445},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player_explosion0</key>
			<dict>
				<key>frame</key>
				<string>{{322,315},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player_explosion1</key>
			<dict>
				<key>frame</key>
				<string>{{374,380},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player_explosion2</key>
			<dict>
				<key>frame</key>
				<string>{{426,445},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>player_explosion3</key>
			<dict>
				<key>frame</key>
				<string>{{322,250},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>enemy0</key>
			<dict>
				<key>frame</key>
				<string>{{374,328},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy1</key>
			<dict>
				<key>frame</key>
				<string>{{426,393},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy3</key>
			<dict>
				<key>frame</key>
				<string>{{426,393},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy2</key>
			<dict>
				<key>frame</key>
				<string>{{322,198},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion0</key>
			<dict>
				<key>frame</key>
				<string>{{374,276},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion1</key>
			<dict>
				<key>frame</key>
				<string>{{426,341},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion2</key>
			<dict>
				<key>frame</key>
				<string>{{322,146},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion3</key>
			<dict>
				<key>frame</key>
				<string>{{374,224},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion4</key>
			<dict>
				<key>frame</key>
				<string>{{426,289},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>enemy_explosion5</key>
			<dict>
				<key>frame</key>
				<string>{{322,94},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>disparo_enemigo</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,26}}</string>
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>
			<key>disparo_nave</key>
			<dict>
				<key>frame</key>
				<string>{{478,488},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Hunter.png</string>
			<key>textureFileName</key>
			<string>Hunter.png</string>
		</dict>
	</dict>
</plist>
