<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fondoparte1</key>
			<dict>
				<key>frame</key>
				<string>{{0,482},{320,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,480}}</string>
				<key>sourceSize</key>
				<string>{320,480}</string>
			</dict>
			<key>fondoparte2</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{320,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,480}}</string>
				<key>sourceSize</key>
				<string>{320,480}</string>
			</dict>
			<key>fondoparte3</key>
			<dict>
				<key>frame</key>
				<string>{{322,482},{320,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,480}}</string>
				<key>sourceSize</key>
				<string>{320,480}</string>
			</dict>
			<key>arcade0</key>
			<dict>
				<key>frame</key>
				<string>{{322,418},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>arcade1</key>
			<dict>
				<key>frame</key>
				<string>{{644,900},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>options0</key>
			<dict>
				<key>frame</key>
				<string>{{322,354},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>options1</key>
			<dict>
				<key>frame</key>
				<string>{{442,418},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>select0</key>
			<dict>
				<key>frame</key>
				<string>{{644,836},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>select1</key>
			<dict>
				<key>frame</key>
				<string>{{764,900},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>start0</key>
			<dict>
				<key>frame</key>
				<string>{{322,290},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>start1</key>
			<dict>
				<key>frame</key>
				<string>{{442,354},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,62}}</string>
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>mainMenu.png</string>
			<key>textureFileName</key>
			<string>mainMenu.png</string>
		</dict>
	</dict>
</plist>
